* {
    margin:0px;
    padding: 0px;

}

.wrapper { margin:auto; width:800px; height:800px; margin-top:20px;
        border:1px solid #999999;
        padding: 20px;  }

.wrapper .header h2 {
    margin-bottom: 20px;

}
.img {
    width: 200px;
    height: 700px;
    float: left;
    margin-right: 30px;
}